In [1]:
CREATE DATABASE HR;

: Msg 1801, Level 16, State 3, Line 1
Database 'HR' already exists. Choose a different database name.

In [2]:
USE HR;

In [3]:
CREATE TABLE People (
  Id int ,
  FirstName varchar(50) NOT NULL,
  LastName varchar(50) NOT NULL
  PRIMARY KEY (Id)
);

In [12]:
DROP TABLE People;

CREATE TABLE People (
  Id int IDENTITY(1,1),
  FirstName varchar(50) NOT NULL,
  LastName varchar(50) NOT NULL
  PRIMARY KEY (Id)
);

In [13]:
INSERT INTO People (FirstName, LastName)
  VALUES ('John', 'Doe'),
  ('Jane', 'Doe'),
  ('Upton', 'Luis'),
  ('Dach', 'Keon');

In [14]:
SELECT * FROM people;

Id,FirstName,LastName
1,John,Doe
2,Jane,Doe
3,Upton,Luis
4,Dach,Keon

In [15]:
SELECT
  name,
  recovery_model_desc
FROM master.sys.databases
WHERE name = 'HR';

name,recovery_model_desc
HR,FULL

In [16]:
ALTER DATABASE HR SET RECOVERY SIMPLE;

In [17]:
SELECT
  name,
  recovery_model_desc
FROM master.sys.databases
WHERE name = 'HR';

name,recovery_model_desc
HR,SIMPLE