**LOGIN AND USER MANAGEMENT**

In [5]:
CREATE LOGIN alex 
with PASSWORD= 'user1@123456';

**CREATE USER AND BIND WITH LOGIN**

In [6]:
SELECT [name] FROM sys.databases
GO

name
master
tempdb
model
msdb
HR

In [7]:
USE HR;

In [8]:
CREATE USER alex 
FOR LOGIN alex;

In [9]:
grant SELECT on People to alex;