## **Row overflow Pages:**

  

Values of the **VARCHAR(MAX), NVARCHAR(MAX), and VARBINARY(MAX)** columns can

be <mark>**_stored outside of the actual data pag_e.**</mark> As you already know, 8KB is the maximum size of

a row on a data page, but you can exceed this size limit if you use columns of such large data

types. In this case, the system stores the values of these columns in extra pages, which are called

row-overflow pages.

In [2]:
USE HR;

CREATE TABLE mytable
(col1 VARCHAR(1000),
col2 VARCHAR(3000),
col3 VARCHAR(3000),
col4 VARCHAR(3000));
INSERT INTO mytable
SELECT REPLICATE('a', 1000), REPLICATE('b', 3000),
REPLICATE('c', 3000), REPLICATE('d', 3000);

In [3]:
USE HR;

SELECT p.rows, a.type_desc AS page_type, a.total_pages AS pages
FROM sys.partitions p JOIN sys.allocation_units a ON
p.partition_id = a.container_id
WHERE p.object_id = object_id('mytable');

rows,page_type,pages
1,IN_ROW_DATA,9
1,ROW_OVERFLOW_DATA,9

In [1]:
USE HR;
SELECT allocated_page_page_id AS page, index_id AS ind,
page_type_desc AS description
FROM sys.dm_db_database_page_allocations
(DB_ID('HR'), OBJECT_ID('People'),NULL, NULL, 'DETAILED')
WHERE is_allocated = 1;

page,ind,description
353,1,IAM_PAGE
384,1,DATA_PAGE