In [2]:
select transaction_id , name ,
transaction_type, transaction_state
from sys.dm_tran_active_transactions

transaction_id,name,transaction_type,transaction_state
2149,worktable,2,2
2152,worktable,2,2
2154,worktable,2,2
2156,worktable,2,2
2159,worktable,2,2
2162,worktable,2,2

In [3]:
DBCC SQLPERF

: Msg 2583, Level 16, State 3, Line 1
An incorrect number of parameters was given to the DBCC statement.

In [8]:
use HR;
select DB_NAME(database_id) as database_name, 
round(CONVERT(float,total_log_size_in_bytes/1024/1024),2)  as total_log_size, 
used_log_space_in_bytes/1024/1024 as used_log_size
from sys.dm_db_log_space_usage;

database_name,total_log_size,used_log_size
HR,7,0

Deadlock Priority:

In Microsoft SQL Server, the "deadlock priority" option allows you to specify the priority that SQL Server uses when choosing which process to terminate in case of a deadlock situation. By default, all processes have the same deadlock priority. However, you can adjust the priority of certain processes to increase or decrease the likelihood of them being chosen as the deadlock victim.

Here's how you can set the deadlock priority for a session in SQL Server:

```sql
SET DEADLOCK_PRIORITY { LOW | NORMAL | HIGH | { @deadlock_priority_variable } }
```

- `LOW`: This sets the session's deadlock priority to the lowest level, making it less likely to be chosen as the deadlock victim.
- `NORMAL`: This is the default deadlock priority for all sessions.
- `HIGH`: This sets the session's deadlock priority to the highest level, making it more likely to be chosen as the deadlock victim.
- `@deadlock_priority_variable`: You can also specify a deadlock priority using a variable.

For example, to set the deadlock priority to HIGH for the current session, you can execute:

```sql
SET DEADLOCK_PRIORITY HIGH;
```

Or you can use a variable:

```sql
DECLARE @priority INT = 10;
SET DEADLOCK_PRIORITY @priority;
```

It's important to note that setting a high deadlock priority doesn't guarantee that the session will always be chosen as the deadlock victim, but it increases the likelihood of it being chosen.

Remember, adjusting deadlock priorities should be done with caution, as it can impact the overall performance and fairness of the system. It's generally recommended to avoid relying heavily on deadlock priorities and instead focus on optimizing queries and transactions to minimize the occurrence of deadlocks.

Isolation Level of a Transaction:

In Microsoft SQL Server, you can set the isolation level of a transaction to Serializable to ensure the highest level of isolation, preventing phenomena like dirty reads, non-repeatable reads, and phantom reads. Here's how you can set the Serializable isolation level:

```sql
SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
```

Or, you can set it within the context of a transaction:

```sql
BEGIN TRANSACTION;
    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
    -- Your SQL statements here
COMMIT TRANSACTION;
```

Alternatively, you can specify the isolation level directly in the `BEGIN TRANSACTION` statement:

```sql
BEGIN TRANSACTION WITH (ISOLATION LEVEL SERIALIZABLE);
    -- Your SQL statements here
COMMIT TRANSACTION;
```

Once the isolation level is set to Serializable, SQL Server ensures that transactions are completely isolated from each other, thereby avoiding the anomalies mentioned earlier.

However, it's important to note that using Serializable isolation level can impact performance, as it may result in increased locking and blocking in the database. Therefore, it's crucial to consider the specific requirements of your application and the potential trade-offs in performance and data consistency when using Serializable isolation level.